extends layout

block content
  p 
    i A small, family-owned donut and coffee shop that’s been serving the downtown community since 1992.
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  hr
  h2 Order Online!
  div(class='appHolder')
    form(method='GET' action='https://www.doordash.com')
      input(type="image", src="/images/Doordash.png", alt="Doordash Logo",)
    form(method='GET' action='https://www.ubereats.com')
      input(type="image", src="/images/UberEats.png", alt="UberEats Logo",)