doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header')
      img(class='logo', src='/images/Logo_DarkGreen.png', alt='Downtown Donuts Logo')
    nav
      a(class='button' href='/index') Home
      a(class='button', href='/about') About
      a(class='button', href='/menu') Menu
      a(class='button', href='/reviews') Reviews
    block content
