extends layout

block content
  h1 Reviews
  hr
  h2 Leave a Comment
  form(method='POST' action='/comment')
    label(for='name') Name:
    input(type='text', name='name', id='name', required)
    label(for='Comment') Comment:
    input(type='text', name='comment', id='comment', required)
    button(type='submit') Add Comment
  ol
  each val in comments
    li(class='review')
      blockquote
        p= val.comment
      p
        cite= '- ' + val.commenterName
      