extends layout

block content
  h1 Reviews
  hr
  div(class='formHolder')
    //- Commenting form
    h2 Leave a Comment
    form(method='POST' action='/comment')
      div(id='nameForm')
        label(for='name') Name: 
        input(type='text', name='name', id='name', required)
      span(id='commentLabel')
        label(for='comment') Comment: 
      textarea(type='text', name='comment', id='comment', required)
      button(type='submit') Add Comment
  hr
  //- Submitted Comments
  ol
  each val in comments
    li(class='review')
      blockquote
        p= val.comment
      p
        cite= '- ' + val.commenterName