extends layout

block content
  h1 Reviews
  hr
  div(class='formHolder')
    h2 Leave a Comment
    form(method='POST' action='/comment')
      div(id='nameForm')
        label(for='name') Name: 
        input(type='text', name='name', id='name', required)
      span(id='commentLabel')
        label(for='comment') Comment: 
      textarea(type='text', name='comment', id='comment', required)
      button(type='submit') Add Comment
  hr
  ol
  each val in comments
    li(class='review')
      blockquote
        p= val.comment
      p
        cite= '- ' + val.commenterName
//- Don't eat $50 worth of sour patch kids or else your teeth will become hyper sensitive. I know this because one Halloween night 15 years ago a tungsten cube bestowed me immortality, allowing me to consume as many sour patch kids as my heart desired. Big mistake. It started okay, but the chewing inevitably left my teeth vulnerable to outside attacks.