body {
  font: 20px 'Montserrat Regular', Helvetica, Arial, sans-serif;
  background-color: #F7F7F7;
  margin: 0px;
}

p {
  text-align: center;
}

h1 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* Header and Navigator */

.header {
  display: flex;
  justify-content: center;
  background-color: #10291D;
  margin: 0%;
  padding: 0%;
  border-bottom: 5px solid #F7C64A;
}

.logo{
  display: inline-block;
  flex: 0 1 20%;
  min-width: 300px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.button {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: #10291D;
  text-decoration: none;
  color: #F7F7F7;
  font-family: 'Montserrat Regular';
  font-size: 24px;
  width: 15%;
  text-align: center;
}

/* Image Text Combo*/

.picture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.picture > img{
  display: inline-block;
  margin: 3%;
  border: 5px solid #F7C64A;
  height: 300px;
  flex: 0 0 auto;
}

.description{
  display: inline-block;
  margin: 3%;
  flex: 1 1 50%;
  min-width: 50%;
}

.description > h2 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  text-align: center;
}

.description > p {
  font-style: normal;
}

hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 3px solid #F7C64A;
  margin: 30px;
  margin-bottom: 0px;
}