body {
  font: 20px 'Montserrat Regular', Helvetica, Arial, sans-serif;
  background-color: #F7F7F7;
  margin: 0px;
}

p {
  margin: 3%;
  text-align: center;
}

h1 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h2 {
  text-align: center;
}

hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 3px solid #F7C64A;
  margin: 30px;
  margin-bottom: 0px;
}

/* Header and Navigator */

.header {
  display: flex;
  justify-content: center;
  background-color: #10291D;
  margin: 0%;
  padding: 0%;
  border-bottom: 5px solid #F7C64A;
}

.logo{
  display: inline-block;
  flex: 0 1 20%;
  min-width: 300px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.button {
  border-radius: 5px;
  border: 2px solid #10291D;
  margin: 20px;
  padding: 20px;
  background-color: #10291D;
  text-decoration: none;
  color: #F7F7F7;
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  font-size: 24px;
  width: 15%;
  text-align: center;
}

.button:hover {
  background-color: #7E7F9A;
}

/* Image Text Combo*/

.picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
}

.picture > img{
  display: inline-block;
  margin: 3%;
  border: 5px solid #F7C64A;
  height: 400px;
  flex: 0 0 auto;
}

.left {
  flex-wrap: wrap-reverse;
}

.right {
  flex-wrap: wrap;
}

/* About Specific Styling*/
.description{
  display: inline-block;
  margin: 3%;
  flex: 1 1 50%;
  min-width: 50%;
}

.description > h2 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  text-align: center;
}

.description > p {
  font-style: normal;
}
/* Menu Specific Styling*/
.menu{
  display: inline-block;
  margin: 3%;
  flex: 1 1 50%;
  min-width: 50%;
}

.menu > h2 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.menu > ul > li > h3 {
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-align: left;

}

.menu > ul > li > p {
  font-size: 15px;
  text-align: left;
  margin: 0px;
  padding-top: 0px;
}

.menu > ul > li{
  list-style: none;
  font-size: 20px;
  text-align: left;
}


/* Reviews Specific Styling*/

li:has(> blockquote) {
  list-style: none;
  max-width: 800px;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 3px solid #F7C64A;
  overflow-wrap: break-word;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

blockquote + p {
  text-align: right;
}


/* Review Form */
.formHolder {
  margin: 20px;
  padding: 20px;
}
.formHolder > *{
  justify-content: center;
}
.formHolder > h2{
  text-align: center;
}
form {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: fit-content(30px) fit-content(30px) fit-content(100px) fit-content(30px);
}

#nameForm{
  grid-area: 1 / 1 / 2 / 2;
  margin-bottom: 20px;
}

#commentLabel{
  grid-area: 2 / 1 / 3 / 2;
}

textarea{
  font: 20px 'Montserrat Regular', Helvetica, Arial, sans-serif;
  grid-area: 3 / 1 / 4 / 4;
  height: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

input[type='text']{
  font: 20px 'Montserrat Regular', Helvetica, Arial, sans-serif;
  overflow-wrap: break-word;
}

form > button {
  margin-top: 30px;
  width: 30%;
  grid-area: 5 / 1 / 5 / 5;
  border-radius: 5px;
  padding: 10px;
  background-color: #10291D;
  text-decoration: none;
  color: #F7F7F7;
  font-family: 'Montserrat Regular', Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
}

form > button:hover {
  background-color: #7E7F9A;
}

label {
  font: 20px 'Montserrat Regular', Helvetica, Arial, sans-serif;
}

.appHolder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.appHolder > form > input{
  width: 200px;
}
